.button {
		  background-color: #003263;  
		  border-radius: 5px;
		  color: white;
		  padding: .5em;
		  text-decoration: none;
		  height:100%;
		  display:inline-table;
		  font-family: system-ui;
		  font-size: 20px;
		}

		.button:focus,
		.button:hover {
		  background-color: #007bff;
		  color: White;
		}

.buttonDefault {
		  background-color: #04AA6D;  
		  border-radius: 5px;
		  color: white;
		  padding: .5em;
		  text-decoration: none;
		  height:100%;
		  display:inline-table;
		  font-family: system-ui;
		  font-size: 20px;
		}
		.buttonDefault:focus,
		.buttonDefault:hover {
		  background-color: #007bff;
		  color: White;
		  
		}
.titlehead {
		  background-color: #003263;  
		  border-radius: 5px;
		  color: white;
		  padding: .5em;
		  text-decoration: none;
		  text-align: center;
		  margin-top: -10px;
		  margin-bottom: -10px;
		  font-family: system-ui;
		}

		.titlehead:focus,
		.titlehead:hover {
		  background-color: #007bff;
		  color: White;
		}

		.bg {
		  background-color: black;
		  background-position: center;
		  background-size: cover;
		}
